aiogram==3.10.0
bs4==0.0.2
colorama==0.4.6
colorlog==6.9.0
requests==2.32.4
setuptools==75.8.0
validators==0.34.0
certifi==2025.1.31
lxml==5.3.0
urllib3==1.26.15
requests-toolbelt==0.10.1
RapidFuzz==3.14.0